version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'chore(deps):'
    cooldown:
      default-days: 3

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    commit-message:
      prefix: 'chore(deps):'
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
          - 'eslint-plugin-storybook'
          - 'storybook-next-intl'
    cooldown:
      default-days: 3
