{
  "extends": [
    "prettier",
    "next",
    "plugin:cypress/recommended"
  ],
  "plugins": [
    "prettier",
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "overrides": [
    {
      "files": [
        "pages/api/**/*"
      ],
      "rules": {
        "import/no-anonymous-default-export": [
          0,
          {
            "allowAnonymousFunction": true
          }
        ]
      }
    }
  ]
}