@layer reset, base, tokens, recipes, utilities;

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

html.dark {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}
