@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Canela;
    font-weight: 100;
    src: url(/fonts/canela/thin.woff) format('woff');
  }
  @font-face {
    font-family: Canela;
    font-weight: 400;
    src: url(/fonts/canela/regular.woff) format('woff');
  }
  @font-face {
    font-family: Canela;
    font-weight: 500;
    src: url(/fonts/proxima-nova/medium.woff) format('woff');
  }
}
